body {
  background-color: #7b7b7b;
  color: white;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 

}

.navbar-default {
  background-color: transparent;
  border-bottom-color: #89dabd;
  border-width: 0 0 1px 0;
  color: white !important;
  padding: 10px;
}

footer {
  z-index: 1030;
  font-size: 10px;
  color: #ffffff !important;
}

footer a:link, 
footer a:visited {
  color: #78d8b7 !important;
}

.ships {
  vertical-align: middle;
  width: 100%;
  background: #525252;
  margin-bottom: 20px;
  padding: 0 10px;
}

.btn-primary {
  color: #fff;
  background-color: #4ed3a7;
  border-color: #33af86;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2aad82;
  border-color: #157354;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #28ad81;
  border-color: #11a272;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #2baf83;
  border-color: #1b8e68;
}

.board {
  border-collapse: collapse;
  background-color: #89dabd;
	color: #333;
}

.logo {
  width: 130px;
  padding: 5px;
  float: left;
  margin-right: 10px;
}

.cell {
  border-top: 1px solid #7b7b7b;
  border-left: 1px solid #7b7b7b;
  border-right: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
  text-align: center;
  min-width: 40px;
  position: relative;
  padding: 0;
  margin: 0;
}

.cell-title-top {
  border-top: 1px solid white !important;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: white;
  text-align: center;
	color: #333;
	font-size: 24px;
}

.cell-title-left {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white;
  text-align: center;
	color: #333;
  min-width: 10px;
	font-size: 24px;
}

.cell-title-bottom {
  border-top: 1px solid #bce8f1;
  border-left: 1px solid white;
	border-right: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white;
  text-align: center;
	color: #333;
	font-size: 24px;
}

.cell-title-right {
  border-top: 1px solid white;
  border-left: 1px solid #bce8f1;
	border-right: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white;
  text-align: center;
	color: #333;
	font-size: 24px;
}

.showBoat.aircraft-carrier {
    background-color: #ef3541;
    border: 1px solid #ef3541;
}

.showBoat.battleship {
    background-color:  #16a085;
    border: 1px solid #16a085;
}

.showBoat.submarine {
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
}

.showBoat.cruiser {
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
}

.showBoat.destroyer {
    background-color: #e69138;
    border: 1px solid #e69138;
}

#endGameResult {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.huge {
  font-size: 40px;
}

@media(min-width:768px){
  .vertical-align {
    display: flex;
    flex-direction: row;
  }

  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items 
                                horizontally inside the column */
  }

  .vertical-align > [class^="col-"] > div,
  .vertical-align > [class*=" col-"] > div {
    /* flex: 1; */
    flex-grow: 1;
  }
}

.marker {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30px;
}

.hit {
  -moz-animation-duration: .3s;
  -ms-animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.miss {
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.target {
  -moz-animation-duration: .2s;
  -ms-animation-duration: .2s;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

.board {
  -moz-animation-duration: .3s;
  -ms-animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.stats {
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;

  -moz-animation-delay: .2s;
  -ms-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.navbar-brand {
  color: #89dabd !important;
}

.miss-cell {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.fa-ship {
  color: #89dabd;
}

.panel-info>.panel-heading {
  color: #78d8b7;
  background-color: #525252;
  border-color: transparent;
}

.panel-success>.panel-heading {
  color: #fefefe;
  background-color: 03522D;
  border-color: transparent;
}

.panel-heading {
  padding: 5px 15px;
}

.panel {
  border: 0px;
}

.cell-title-left {
  border-color: #7b7b7b !important;
  background-color: #7b7b7b;
  color: #fefefe;
}

.cell-title-top {
  border-color: #7b7b7b !important;
  background-color: #7b7b7b;
  color: #fff;
}

.row.message {
  padding: 70px;
}

.alert {
  text-align: center;
}

.showBoat {
  border: 1px solid #7b7b7b !important;
}

.miss-cell {
  background-color: #89dabd;
  border-color: #7b7b7b;
}

.text-muted {
  color: #0089ff;
}